.sectionCarrousel {
    height: 420px;
    max-width: 1240px;
    width: 100%;
    margin: 0 15px;
   
    & .slide {
        object-fit: cover;
        position: absolute;
        height: 415px;
        width: 100%;
        max-width: 1240px;
        border-radius: 25px;
    }

    & .divChevron {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 415px;
        width: 100%;
        max-width: 1240px;
    }

    & .fa-chevron-right, .fa-chevron-left {
        color: white;
        font-size: 60px;
    }

    & .fa-chevron-right {
       padding-right: 15px;
    }

    & .fa-chevron-left {
        padding-left: 15px;
    }

    & .slideHidden {
        display: none;
    }

}

