.sectionCarrousel {
    height: 420px;
    max-width: 1240px;
    width: 100%;
    margin: 0 15px;
    position: relative;
   
    & .slide {
        object-fit: cover;
        height: 415px;
        width: 100%;
        max-width: 1240px;
        border-radius: 25px;
    }

    & .fa-chevron-right, .fa-chevron-left {
        color: white;
        top: 40%;
        font-size: 60px;
        position: absolute;
    }

    & .fa-chevron-right {
       padding-right: 15px;
       right: 0;
    }

    & .fa-chevron-left {
        padding-left: 15px;
    }

    & .slideHidden, .indexHidden{
        display: none;
    }

    & .index {
        position: absolute;
        margin: 0;
        top: 90%;
        text-align: center;
        width: 100%;
        color: white;
    }

    & .divPictureIndex {
        position: relative;
    }
}

