.sectionTags {
    
    & .ulTags {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
    }

    & .tagList {
        margin-right: 10px;
        padding: 5px 0;
        border-radius: 10px;
        background-color: #FF6060;
        color: white;
        width: 145px;
        font-size: 14px;
        text-align: center;
    }

}

