.sectionBanner { 
    max-width: 1240px;
    height: 223px;
    width: 100%; 
    margin: 0 15px;
    position: relative;

    & .imgBanner{
        max-width: 1240px;
        width: 100%;
        height: 223px;
        object-fit: cover;
        border-radius: 25px;
    }

    & p {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin: 0;
        max-width: 1240px;
        width: 100%;
        height: 223px;
        font-size: 48px;
        color: white;
        top: 0;
        
        @media screen and (max-width: 375px) {
            font-size: 24px;
            width: 175px;
            margin-left: 20px;
        }
    }
}

.mainHome {
    
    & .imgBanner {
        filter: brightness(40%);
    }
}

.mainAbout {
    
    & .imgBanner {
        filter: brightness(70%);
    }

    & .pBanner {
        display: none;
    }
}
