.sectionBanner {
    display: flex;
    justify-content: center;
    align-items: center;

    & div {
        width: 1240px;
        height: 223px;
    }

    & .imgBanner{
        width: 1240px;
        height: 223px;
        object-fit: cover;
        border-radius: 25px;
        position: absolute;
    }

    & p {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0;
        height: 223px;
        font-size: 48px;
        color: white;
    }
}

.mainHome {

    & .imgBanner {
        
        filter: brightness(40%);
    }
}

.mainAbout {
    
    & .imgBanner {
        filter: brightness(70%);
    }

    & .pBanner {
        display: none;
    }
}
