.sectionCollapse {
    display: flex;
    align-items: center;
    justify-content: center;

    & .titleCollapse {
        width: 100%;
        height: 54px;
        background-color: #FF6060;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        padding-left: 20px;               /* comment changer ? ou enlever 40px pour mettre padding left et right sur le i */
        margin: 0;
        border-radius: 5px 0 0 5px;
    }

    & ul {
        padding: 0;
    }

    & .oneDivTitle {
        width: 1023px;
        display: flex;
        margin-top: 20px;
    }

    & .fa-chevron-up {
        color: white;
    }

    & .pAbout {
        width: 1003px;
        background-color: #F6F6F6;
        padding: 15px 10px;
        margin: 0; 
    }

    & .box {
        display: none;
    }

    & .buttonCollapse {
        border: none;
        height: 54px;
        background-color: #FF6060;
        transform: rotate(0deg);
        border-radius: 0 5px 5px 0;
    }
}

.divCollapseRental {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1240px;
    
    & ul {
        width: 582px;
    }

    & .oneDivTitle {
        width: 582px;
    }

    & .pAbout {
        width: 562px;
    }

    & li {
        list-style-type: none;
        margin-bottom: 5px;
    }
}



