.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.errorType, .errorText {
    color: #FF6060;
}

.errorType {
    font-size: 288px;
    margin: 0;
}

.errorText {
    font-size: 36px;
    margin-bottom: 100px;
}

.errorLink {
    margin-bottom: 80px;
}

.errorLink:hover {
    text-decoration: underline;
}