@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font-1 : 'Montserrat';

body {
    margin: 0;
    font-family: $font-1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 15px;

    & .divHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1240px;
        width: 100%; 
        margin: 0 ;
    }

    & .logo {
        width: 210.32px;
        height: 68px;

        @media screen and (max-width: 375px) {
            width: 145px;
            height: 47px;
        }
    }

    & nav {
        text-align: center;
    }

    & a {
        text-decoration: none;
        color: black;
        font-size: 24px;

        @media screen and (max-width: 375px) {
            font-size: 12px;
        }
    }

    & a:nth-child(1) {
        margin:0 30px;
    }
}