.sectionCard {

    & .liListCard {
        list-style-type: none;
        width: 340px;
        height: 340px;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    & .listImg {
        position: absolute;
        object-fit: cover;
        width: 340px;
        height: 340px;
        border-radius: 10px;
    } 
    
    & .listP {
        display: flex;
        align-items: end;
        position: relative;
        margin-left: 20px;
        height: 320px;
    }
}

